@font-face{
    font-family: 'Harry p';
    src:url(/fonts/HARRYP__.TTF);
    font-weight: 400;
    font-size: 20px;

}

body {
    font-family: 'Harry p';
    font-size: 30px;
    color:aliceblue;
    background-position: center;
    background-size: cover;
    background-image: url('../imagenes/train.jpg');
    margin: 0;
    padding: 0;   

}

h2{
    color:black;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    position: relative; 
    padding: 30px;
    margin: 15px;
    margin-left: 38%;
    margin-right: 38%;
    overflow: hidden;
    background-image: conic-gradient(#efbc2f 8deg, transparent 10deg);
    animation: titulo 5s linear infinite;
}


h2::before{
    content: "";
    position: absolute;
    height: 200px;
    width: 400px;
    background-image: conic-gradient(#efbc2f 8deg, transparent 10deg);
    animation: titulo 5s linear infinite;
}

@keyframes titulo{

    30%{
        transform: rotate(0deg);
    }

    60%{
        transform: rotate(15deg);
    }
    90%{
        transform: rotate(-15deg);
    }
    
}

legend{

    font-style: bold;
    font-size: 35px;
    background:  linear-gradient(to right, #a6332e,#efbc2f);
    border-radius: 10px;    
    padding: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea,
select {

    font-family: 'Harry p';
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    margin-right: 25px;
    margin-left: 25px;
    border: none;
    border-radius: 10px;
    background: rgb(60, 78, 145, 0.7); 
    color: #fff;
    font-size: 25px;
    position: relative;
    box-shadow: 12px 14px 20px #366447;

}

fieldset {

    font-size: 35px;
    border: dashed;
    border-width: 5px 10px;
    border-radius: 40px;
    padding: 25px;
    margin: 20px auto;
    margin-bottom: 40px;
    width: 60%;
    background: rgba(28, 28, 28, 0.6);
    border-color: #efbc2f;
    text-align: center;
    text-shadow: 2px 2px 10px #a6332e, 0 0 5px #a6332e;
}

label{

    margin-left: 25px;
}


.condiciones {
    text-align: center;
    padding-top: 40px;
    color: black;
    background: linear-gradient(to right, rgb(166, 51, 46, 0.7),rgb(239, 188, 47, 0.7), rgb(60, 78, 145, 0.7),rgb(54, 100, 71, 0.7));
    border-radius: 200%;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 40px;  

}

.fieldsetactividades{


    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px #a6332e, 0 0 5px #a6332e;
}

input[type="checkbox"], input[type="radio"] {
    accent-color: #a6332e;
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

.botones button {
    font-family: 'Harry p';
    padding: 10px 20px;
    margin: 20px;
    font-size: 35px;
    color: #fff;
    border-radius: 20px;
    background: #3c4e91;
    cursor: pointer;
    border: dashed;
    border-width: 2px 5px;

}

.botones{
    display: flex;
    flex-wrap: wrap;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.botones button:hover
{
    transition: transform 0.3s, box-shadow 0.3s;
    background: #a6332e;
    color: black;
    transform: translateY(-5px);
    
} 

.radio-group{

    background-color: rgb(239, 188, 47, 0.8);
    width: 30%;
    color: black;
    margin-top: 10px;
    margin-left: 35%;
    margin-right: 35%;
    padding: 5px;
    border: dashed;
    border-width: 2px 4px;
    border-radius: 40px;
}

/* Paleta de colores Harry Potter:

#a6332e	RGB(166, 51, 46)	Gryffindor	- Rojo
#efbc2f	RGB(239, 188, 47)	Hufflepuff	- Amarillo
#3c4e91	RGB(60, 78, 145)	Ravenclaw	- Azul
#366447	RGB(54, 100, 71)    Slytherin   - Verde */